img {
  display: none;
  height: 300px;
  width: 300px;
}
.green-background {
  background-color: green;
}
.yellow-background {
  background-color: yellow;
}
.red-background {
  background-color: red;
}

.lightgray-background {
  background: blue;
}

.#tacoBox {
  width: 300px;
  height: 100px;
  border: 1px solid blue;
}